<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <style>
ul#inline_list li {
  display:inline;
}
</style>
</head>
<body>
    <h2>Countries:</h2>
    <div class="div"> <a href='/'>Home / </a> <a href='/countries-list/'> Countries</a> </div>
    <ul id="inline_list">
        {% for letter in alph %}
            <li> <a href="{{ letter }}/"> {{ letter }} </a> </li>
        {% endfor %}
    </ul>
    <ol>
        {% for country in page_obj %}
            <li> <a href="/country/{{ country.id}}/"> {{ country.country }} </a> </li>
        {% endfor %}
    </ol>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
</body>
</html>