<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Start page</title>
</head>
<body>
    <div class="div"> <a href='/'>Home / </a> <a href='/countries-list/'>Countries list</a> </div>
    <h1>Welcome</h1>
    <div> <a href="/all-languages/"> Languages</a></div>
</body>
</html>